<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/singleLayout}">
    <th:block layout:fragment="content">
        <section>
            <h3 th:text="${#httpServletRequest.requestURI == '/board/register' ? 'BOARD INSERT' : 'BOARD UPDATE'}">BOARD INSERT</h3>
            <form id="boardRegister">
                <div class="row gtr-uniform">
                    <div class="col-12 col-12-xsmall">
                        <input type="text" name="title" th:value="${result.get('TITLE')}" placeholder="Title">
                        <input th:if="${#httpServletRequest.requestURI != '/board/register'}" type="hidden" name="userSeq" th:value="${result.get('USER_SEQ')}">
                    </div>

                    <div class="col-12">
                        <textarea name="content" placeholder="Content" rows="6" th:text="${result.get('CONTENT')}"></textarea>
                    </div>

                    <!--입력부-->
                    <!--<div class="col-12">
                        <select name="demo-category" id="demo-category">
                            <option value="">- Category -</option>
                            <option value="1">Manufacturing</option>
                            <option value="1">Shipping</option>
                            <option value="1">Administration</option>
                            <option value="1">Human Resources</option>
                        </select>
                    </div>

                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-low" name="demo-priority" checked="">
                        <label for="demo-priority-low">Low</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-normal" name="demo-priority">
                        <label for="demo-priority-normal">Normal</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-high" name="demo-priority">
                        <label for="demo-priority-high">High</label>
                    </div>

                    <div class="col-6 col-12-small">
                        <input type="checkbox" id="demo-copy" name="demo-copy">
                        <label for="demo-copy">Email me a copy</label>
                    </div>
                    <div class="col-6 col-12-small">
                        <input type="checkbox" id="demo-human" name="demo-human" checked="">
                        <label for="demo-human">Not a robot</label>
                    </div>-->

                    <!--현재시간-->
                    <!--<span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></span>-->
                </div>
            </form>

            <div class="col-12">
                <ul class="actions">
                    <li th:if="${#httpServletRequest.requestURI == '/board/register'}"><input type="button" value="Register" onclick="register()"></li>
                    <li th:unless="${#httpServletRequest.requestURI == '/board/register'}"><input type="button" value="Update" onclick="updateBoard()"></li>
                    <li><input type="button" value="Reset" onclick="reset()"></li>
                </ul>
            </div>
        </section>

        <!--수정화면-->
        <!--<header>
            <div class="title">
                <h2><a th:text="${result.get('TITLE')}"></a></h2>
                &lt;!&ndash;<p>서브 명</p>&ndash;&gt;
            </div>
            <div class="meta">
                <time class="published" th:datetime="${result.get('FIRST_UPDATE')}" th:text="${result.get('FIRST_UPDATE')}"></time>
                <a href="#" class="author">
                    <span class="name" th:text="${result.get('USER_NAME')}"></span>
                    <img th:src="@{/mainAssist/images/no_user_img.png}" alt="유저 프로필 사진"/>
                </a>
            </div>
        </header>

        <span class="image featured"><img th:src="@{/mainAssist/images/pic01.jpg}" alt=""/></span>
        <p th:text="${result.get('CONTENT')}"></p>
        <footer>
            <ul class="stats">
                &lt;!&ndash;나중에 만들 카테고리명&ndash;&gt;
                &lt;!&ndash;<li><a href="#">General</a></li>&ndash;&gt;
                <li><a class="icon solid fa-heart">1</a></li>
                <li><a class="icon solid fa-comment">2</a></li>
            </ul>
        </footer>

        <div class="col-12">
            <ul class="actions">
                <li><input type="button" value="Register" onclick="register()"></li>
                <li><input type="button" value="Reset" onclick="reset()"></li>
            </ul>
        </div>-->

        <script>
            function register() {
                const data = $('#boardRegister').serialize();
                $.ajax({
                    url: '/board/addBoard',
                    type: 'POST',
                    data: data,
                    success: successResult,
                    error: errorResult
                });

                function successResult(res) {
                    console.log(res)
                    alert(res.msg)
                    if(res.result) location.href = '/board/list';
                }

                function errorResult(e) {
                    console.log(e)
                }
            }

            //업데이트
            function updateBoard() {
                const data = $('#boardRegister').serialize();
                $.ajax({
                    url: '/board/updateBoard',
                    type: 'POST',
                    data: data,
                    success: successResult,
                    error: errorResult
                });

                function successResult(data) {
                    console.log(data)
                    if(data.result) {
                        alert(data.msg)
                        location.href = '/board/list';
                    } else {
                        alert(data.msg)
                        // location.href = '/user/login?url=' + location.pathname
                    }
                }

                function errorResult(e) {
                    console.log(e)
                }
            }

            function reset() {
                console.log("reset")
            }
        </script>
    </th:block>
</html>