<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/singleLayout}">
    <th:block layout:fragment="content">
        <section>
            <div class="row">
                <div class="col-6">
                    <h3>게시글 목록</h3>
                </div>
                <div class="col-6">
                    <ul class="actions small" style="float: right;">
                        <li><a href="/board/register" class="button small">등록</a></li>
                    </ul>
                </div>
            </div>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th width="10%">No.</th>
                        <th width="50%">제목</th>
                        <th width="20%">작성자</th>
                        <th width="40%">등록일자</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${boardList.size == 0}">
                            <td colspan="4" style="text-align: center;">등록된 게시글이 없습니다.</td>
                        </tr>
                        <tr th:unless="${boardList.size == 0}" th:each="data : ${boardList}" th:onclick="|boardDetail(${data.get('boardSeq')})|" style="cursor: pointer;">
                            <td th:text="${data.get('boardSeq')}"></td>
                            <td th:text="${data.get('title')}"></td>
                            <td th:text="${data.get('userId') == null ? '정보없음' : data.get('userId')}"></td>
                            <td th:text="${data.get('uploadDate')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ul class="actions">
                <li><a href="#" class="button small">Prev</a></li>
                <li><a href="#" class="button small">Next</a></li>
            </ul>
        </section>

        <script>
            function boardDetail(obj) {
                if(obj === '' || obj === null) {
                    alert('상세보기 오류')
                    return
                } else {
                    location.href = '/board/detail/' + obj
                }
            }
        </script>
    </th:block>
</html>