<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/singleLayout}">
    <th:block layout:fragment="content">

        <section id="boardUpadte" style="display: none;">
            <!--업데이트 화면-->
            <h3 th:text="${#httpServletRequest.requestURI == '/board/register' ? 'BOARD INSERT' : 'BOARD UPDATE'}">BOARD INSERT</h3>
            <form id="boardRegister">
                <div class="row gtr-uniform">
                    <div class="col-12 col-12-xsmall">
                        <input type="text" name="title" th:value="${result.get('TITLE')}" placeholder="Title">
                        <input th:if="${#httpServletRequest.requestURI != '/board/register'}" type="hidden" name="userSeq" th:value="${result.get('USER_SEQ')}">
                        <input th:if="${#httpServletRequest.requestURI != '/board/register'}" type="hidden" name="seq" th:value="${result.get('BOARD_SEQ')}">
                    </div>
                    <div class="col-12">
                        <textarea name="content" placeholder="Content" rows="6" th:text="${result.get('CONTENT')}"></textarea>
                    </div>

                    <section>
                        <h3>Image</h3>
                        <h4>Fit</h4>
                        <div class="box alt">
                            <div class="row gtr-uniform">
                                <div class="col-12"><span class="image fit"><img th:src="@{/mainAssist/images/pic01.jpg}" alt=""/></span></div>
                                <div class="col-4"><span class="image fit"><img th:src="@{/mainAssist/images/pic02.jpg}" alt=""/></span></div>
                                <div class="col-4"><span class="image fit"><img th:src="@{/mainAssist/images/pic03.jpg}" alt=""/></span></div>
                                <div class="col-4"><span class="image fit"><img th:src="@{/mainAssist/images/pic04.jpg}" alt=""/></span></div>
                                <div class="col-4"><span class="image fit"><img th:src="@{/mainAssist/images/pic05.jpg}" alt=""/></span></div>
                                <div class="col-4"><span class="image fit"><img th:src="@{/mainAssist/images/pic06.jpg}" alt=""/></span></div>
                                <div class="col-4"><span class="image fit"><img th:src="@{/mainAssist/images/pic07.jpg}" alt=""/></span></div>
                                <div class="col-4"><span class="image fit"><img th:src="@{/mainAssist/images/pic08.jpg}" alt=""/></span></div>
                                <div class="col-4"><span class="image fit"><img th:src="@{/mainAssist/images/pic09.jpg}" alt=""/></span></div>
                                <div class="col-4"><span class="image fit"><img th:src="@{/mainAssist/images/pic10.jpg}" alt=""/></span></div>
                            </div>
                        </div>
                        <h4>Left &amp; Right</h4>
                        <p><span class="image left"><img th:src="@{/mainAssist/images/no_user_img.png}" alt="예시 사진"/></span>Fringilla nisl. Donec accumsan
                            interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in
                            faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
                            faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum
                            ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                            accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt
                            felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit
                            adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
                            praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
                            vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer
                            ac pellentesque praesent. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
                            faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum
                            ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                            accumsan eu faucibus. Integer ac pellentesque praesent.</p>
                        <p><span class="image right"><img th:src="@{/mainAssist/images/no_user_img.png}" alt="예시 사진"/>
                        </span>Fringilla nisl. Donec accumsan
                            interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in
                            faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
                            faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum
                            ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                            accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt
                            felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit
                            adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
                            praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
                            vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer
                            ac pellentesque praesent. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
                            faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum
                            ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                            accumsan eu faucibus. Integer ac pellentesque praesent.</p>
                    </section>

                    <!--&lt;!&ndash;입력부&ndash;&gt;
                    &lt;!&ndash;<div class="col-12">
                        <select name="demo-category" id="demo-category">
                            <option value="">- Category -</option>
                            <option value="1">Manufacturing</option>
                            <option value="1">Shipping</option>
                            <option value="1">Administration</option>
                            <option value="1">Human Resources</option>
                        </select>
                    </div>

                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-low" name="demo-priority" checked="">
                        <label for="demo-priority-low">Low</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-normal" name="demo-priority">
                        <label for="demo-priority-normal">Normal</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-high" name="demo-priority">
                        <label for="demo-priority-high">High</label>
                    </div>

                    <div class="col-6 col-12-small">
                        <input type="checkbox" id="demo-copy" name="demo-copy">
                        <label for="demo-copy">Email me a copy</label>
                    </div>
                    <div class="col-6 col-12-small">
                        <input type="checkbox" id="demo-human" name="demo-human" checked="">
                        <label for="demo-human">Not a robot</label>
                    </div>&ndash;&gt;

                    &lt;!&ndash;현재시간&ndash;&gt;
                    &lt;!&ndash;<span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></span>&ndash;&gt;-->
                </div>
            </form>

            <div class="col-12" style="margin-bottom: 20px;">
                <ul class="actions">
                    <li th:if="${#httpServletRequest.requestURI == '/board/register'}"><input type="button" value="Register" onclick="register()"></li>
                    <li th:unless="${#httpServletRequest.requestURI == '/board/register'}"><input type="button" value="Update" onclick="updateBoard()"></li>
                    <li><input type="button" value="Reset" onclick="insertReset()"></li>
                </ul>
            </div>
        </section>

        <!--리뉴얼 후 상세 화면-->
        <header class="boardDetail" style="display: none;">
            <div class="title">
                <h2><a th:text="${result.get('TITLE')}"></a></h2>
                <p>서브 명</p>
            </div>
            <div class="meta">
                <time class="published" th:datetime="${result.get('FIRST_UPDATE')}" th:text="${result.get('FIRST_UPDATE')}"></time>
                <a href="#" class="author">
                    <span class="name" th:text="${result.get('USER_NAME')}"></span>
                    <img th:src="@{/mainAssist/images/no_user_img.png}" alt="유저 프로필 사진"/>
                </a>
            </div>
        </header>

        <span class="image featured boardDetail" style="display: none;">
            <img th:src="@{/mainAssist/images/pic01.jpg}" alt=""/>
        </span>
        <!--내용 줄바꿈이 있는경우-->
        <p class="boardDetail" th:if="${result.get('contentArr') == null}" th:text="${result.get('CONTENT')}"></p>
        <!--내용 줄바꿈이 없는경우-->
        <p class="boardDetail" th:each="data : ${result.get('contentArr')}" th:text="${data}"></p>

        <footer style="display: none;" class="boardDetail">
            <ul class="stats">
                <li><a href="#">Info</a></li>
            </ul>
        </footer>

        <div style="display: none;" class="boardDetail">
            <div class="col-10" style="margin-bottom: 10px;">
                <textarea id="replyContent" name="" rows="2" placeholder="reply"></textarea>
            </div>
            <div class="col-2">
                <ul class="actions">
                    <li><input type="button" value="registration" onclick="replySet()"></li>
                    <li><input type="button" value="Reset" onclick="replyReset()"></li>
                    <th:block th:if="${session.USER != null && result.get('USER_SEQ') == session.USER.seq}">
                        <li><input type="button" value="Update" onclick="boardUpdate()"></li>
                    </th:block>
                </ul>
            </div>
        </div>

        <section class="boardDetail" id="replyData" style="display: none;margin-bottom: 20px;"></section>


        <script>
            $(document).ready(function () {
                getBoradSeq();
                if('/board/register' === location.pathname){ //게시글 입력창인경우
                    $('#boardUpadte').show()

                } else { //게시글 상세보기인경우
                    $('.boardDetail').show()
                }
                showReply();
            })

            //게시글 상세 댓글 조회
            function showReply() {
                $.ajax({
                    url: '/reply/list',
                    type: 'GET',
                    data : {
                        'boardSeq' : boradSeq,
                    },
                    success: function (res) {
                        // replyData태그 초기화
                        document.getElementById('replyData').innerHTML = '';

                        let html = `
                            <li><a class="icon solid fa-heart">not developed</a></li>
                            <li><a class="icon solid fa-comment">${res.length}</a></li>`;
                        $('.stats').html(html);

                        if(res.length !== 0) {

                            for (let i = 0; i < res.length; i++) {
                                let replyHtml = `
                                <hr>
                                <div class="row">
                                    <div class="col-6 col-12-medium">
                                        <h3>${res[i].USER_NAME}</h3>
                                        <div class="replyContent`+i+`"></div>
                                    </div>
                                    <div class="col-6 col-12-medium">
                                        <ul class="alt">
                                            <li>${res[i].UPLOAD_DATE}</li>
                                        </ul>
                                        <ul class="actions">
                                            <li><input type="button" value="수정" onclick="replyUpdate(${res[i].REPLAY_SEQ})"></li>
                                            <li><input type="button" value="삭제" onclick="replyDelete(${res[i].REPLAY_SEQ})"></li>
                                        </ul>
                                    </div>
                                </div>`
                                $('#replyData').append(replyHtml);

                                // 댓글 줄바꿈처리
                                // 배열값지 체크
                                if(Array.isArray(res[i].REPLAY_CONTENT)) {
                                    let replyArr
                                    for (let j = 0; j < res[i].REPLAY_CONTENT.length; j++) {
                                        replyArr = '<p>' + res[i].REPLAY_CONTENT[j] + '</p>' + replyArr;
                                    }
                                    $('.replyContent'+i).append(replyArr);
                                } else {
                                    let replyArr = `<p>${res[i].REPLAY_CONTENT}</p>`;
                                    $('.replyContent'+i).append(replyArr);
                                }
                            }
                        }
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
            }

            let boradSeq;
            function getBoradSeq() {
                if($('[name=seq]')[0] === undefined){
                    boradSeq = '';
                } else {
                    boradSeq = $('[name=seq]')[0].value;
                }
            }


            function register() {
                const data = $('#boardRegister').serialize();
                $.ajax({
                    url: '/board/addBoard',
                    type: 'POST',
                    data: data,
                    success: successResult,
                    error: errorResult
                });

                function successResult(res) {
                    console.log(res)
                    alert(res.msg)
                    if(res.result) location.href = '/board/list';
                }

                function errorResult(e) {
                    console.log(e)
                }
            }

            //업데이트
            function updateBoard() {
                const data = $('#boardRegister').serialize();
                $.ajax({
                    url: '/board/updateBoard',
                    type: 'POST',
                    data: data,
                    success: successResult,
                    error: errorResult
                });

                function successResult(data) {
                    if(data.result == 11000) {
                        alert(data.msg)
                        location.href = '/board/list';
                    } else {
                        alert(data.msg)
                        if(data.msg.includes('세션')) {
                            location.href = '/user/login?url=' + location.pathname
                        }
                    }
                }

                function errorResult(e) {
                    console.log(e)
                }
            }

            function insertReset() {
                console.log("reset")
            }

            function replyReset() {
                document.getElementById('replyContent').value = ''
            }

            function boardUpdate() {
                $('#boardUpadte').show();
                $('.boardDetail').hide();
            }

            let replyContent
            let replyParam
            function replySet(){
                replyContent = document.getElementById('replyContent').value
                replyParam = {
                    'boardSeq' : boradSeq,
                    'replyContent' : replyContent
                }

                if(jsonIsValue(replyParam)) {
                    $.ajax({
                        url: '/reply/insert',
                        type: 'POST',
                        data : replyParam,
                        success: function (res) {
                            console.log(res);
                            if(res.result === 30100) {
                                alert(res.msg);
                                location.href = location.origin + '/user/login?url=' + location.pathname
                            } else if(res.result === 30200) {
                                alert(res.msg);
                            } else if (res.result === 11000){
                                alert('댓글 적용 완료!');
                                showReply();
                            }
                        },
                        error: function (e) {
                            alert('댓글 등록중 오류가 발생하였습니다.');
                            console.log(e)
                        }
                    });
                } else {
                    alert('댓글 내용이 없습니다!');
                }
            }

            function replyUpdate(replySeq) {
                console.log(replySeq)
            }

            function replyDelete(replySeq) {
                console.log(replySeq)

                if(jsonIsValue(replyParam)) {
                    $.ajax({
                        url: '/reply/insert',
                        type: 'POST',
                        data : replyParam,
                        success: function (res) {
                            console.log(res);
                            if(res.result === 30100) {
                                alert(res.msg);
                                location.href = location.origin + '/user/login?url=' + location.pathname
                            } else if(res.result === 30200) {
                                alert(res.msg);
                            } else if (res.result === 11000){
                                alert('댓글 적용 완료!');
                                showReply();
                            }
                        },
                        error: function (e) {
                            alert('댓글 등록중 오류가 발생하였습니다.');
                            console.log(e)
                        }
                    });
                } else {
                    alert('댓글 내용이 없습니다!');
                }

            }
        </script>
    </th:block>
</html>