<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/singleLayout}">
    <th:block layout:fragment="content">
        <section>
            <div class="row">
                <div class="col-6">
                    <h3>게시글 목록</h3>
                </div>
                <div class="col-6">
                    <ul class="actions small" style="float: right;">
                        <li><a href="/board/register" class="button small">등록</a></li>
                    </ul>
                </div>
            </div>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th width="10%">No.</th>
                        <th width="50%">제목</th>
                        <th width="20%">작성자</th>
                        <th width="40%">등록일자</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${boardList.size == 0}">
                            <td colspan="4" style="text-align: center;">등록된 게시글이 없습니다.</td>
                        </tr>
                        <tr th:unless="${boardList.size == 0}" th:each="data : ${boardList}" th:onclick="|boardDetail(${data.get('boardSeq')})|" style="cursor: pointer;">
                            <td th:text="${data.get('boardSeq')}"></td>
                            <td th:text="${data.get('title')}"></td>
                            <td th:text="${data.get('userId') == null ? '정보없음' : data.get('userId')}"></td>
                            <td th:text="${data.get('uploadDate')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ul class="actions">
                <li>
                    <a class="button small" id="pagePrevBtn" onclick="pagePrevBtn()">Prev</a>
                </li>
                <li th:each="p : ${paging}">
                    <a th:href="${'?pageNum=' + p}" class="button small" th:text="${p}"></a>
                </li>
                <li>
                    <a class="button small" id="pageNextBtn" onclick="pageNextBtn()">Next</a>
                </li>
                <li><a class="button small" onclick="boardExcelDown()">Board Excel Down</a></li>
            </ul>
        </section>

        <script>
            $(document).ready(function () {
                pagingBtnView()
            })

            function boardDetail(obj) {
                if(obj === '' || obj === null) {
                    alert('상세보기 오류')
                    return
                } else {
                    location.href = '/board/detail/' + obj
                }
            }

            function boardExcelDown(){
                $.ajax({
                    url: '/board/excel',
                    data: {},
                    type: 'POST',
                    cache: false,
                    xhrFields: {
                        responseType: "blob",
                    },
                }).done(function (blob, status, xhr) {
                    //파일이름 체크
                    var fileName = "";
                    var disposition = xhr.getResponseHeader("Content-Disposition");

                    if (disposition && disposition.indexOf("attachment") !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);

                        if (matches != null && matches[1]) {
                            fileName = decodeURI(matches[1].replace(/['"]/g, ""));
                        }
                    }

                    // for IE
                    if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                        window.navigator.msSaveOrOpenBlob(blob, fileName);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(blob);

                        if (fileName) {
                            var a = document.createElement("a");

                            // for safari
                            if (a.download === undefined) {
                                window.location.href = downloadUrl;
                            } else {
                                a.href = downloadUrl;
                                a.download = fileName;
                                document.body.appendChild(a);
                                a.click();
                            }
                        } else {
                            window.location.href = downloadUrl;
                        }
                    }
                });
            }

            let pageNum = location.search === '' ? 1 : parseInt(location.search.split('=')[1]);
            let pagingSize = [[${paging.length}]];


            function pagingBtnView() {
                if(pageNum === 1)
                    $('#pagePrevBtn').addClass('disabled')

                if(pagingSize === pageNum)
                    $('#pageNextBtn').addClass('disabled')
            }
            function pagePrevBtn() {
                location.href = '?pageNum=' + (pageNum - 1)
            }
            function pageNextBtn() {
                location.href = '?pageNum=' + (pageNum + 1)
            }
        </script>
    </th:block>
</html>