<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/singleLayout}">
    <th:block layout:fragment="content">
        <section id="boardUpadte" style="display: none;">
            <!--업데이트 화면-->
            <h3 th:text="${#httpServletRequest.requestURI == '/board/register' ? 'BOARD INSERT' : 'BOARD UPDATE'}">BOARD INSERT</h3>
            <form id="boardRegister">
                <div class="row gtr-uniform">
                    <div class="col-12 col-12-xsmall">
                        <input type="text" name="title" th:value="${result.get('TITLE')}" placeholder="Title">
                        <input th:if="${#httpServletRequest.requestURI != '/board/register'}" type="hidden" name="userSeq" th:value="${result.get('USER_SEQ')}">
                        <input th:if="${#httpServletRequest.requestURI != '/board/register'}" type="hidden" name="seq" th:value="${result.get('BOARD_SEQ')}">
                    </div>
                    <div class="col-12">
                        <textarea name="content" placeholder="Content" rows="6" th:text="${result.get('CONTENT')}"></textarea>
                    </div>

                    <!--&lt;!&ndash;입력부&ndash;&gt;
                    &lt;!&ndash;<div class="col-12">
                        <select name="demo-category" id="demo-category">
                            <option value="">- Category -</option>
                            <option value="1">Manufacturing</option>
                            <option value="1">Shipping</option>
                            <option value="1">Administration</option>
                            <option value="1">Human Resources</option>
                        </select>
                    </div>

                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-low" name="demo-priority" checked="">
                        <label for="demo-priority-low">Low</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-normal" name="demo-priority">
                        <label for="demo-priority-normal">Normal</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-high" name="demo-priority">
                        <label for="demo-priority-high">High</label>
                    </div>

                    <div class="col-6 col-12-small">
                        <input type="checkbox" id="demo-copy" name="demo-copy">
                        <label for="demo-copy">Email me a copy</label>
                    </div>
                    <div class="col-6 col-12-small">
                        <input type="checkbox" id="demo-human" name="demo-human" checked="">
                        <label for="demo-human">Not a robot</label>
                    </div>&ndash;&gt;

                    &lt;!&ndash;현재시간&ndash;&gt;
                    &lt;!&ndash;<span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></span>&ndash;&gt;-->
                </div>
            </form>

            <div class="col-12">
                <ul class="actions">
                    <li th:if="${#httpServletRequest.requestURI == '/board/register'}"><input type="button" value="Register" onclick="register()"></li>
                    <li th:unless="${#httpServletRequest.requestURI == '/board/register'}"><input type="button" value="Update" onclick="updateBoard()"></li>
                    <li><input type="button" value="Reset" onclick="reset()"></li>
                </ul>
            </div>
        </section>

        <!--리뉴얼 후 상세 화면-->
        <header class="boardDetail">
            <div class="title">
                <h2><a th:text="${result.get('TITLE')}"></a></h2>
                <p>서브 명</p>
            </div>
            <div class="meta">
                <time class="published" th:datetime="${result.get('FIRST_UPDATE')}" th:text="${result.get('FIRST_UPDATE')}"></time>
                <a href="#" class="author">
                    <span class="name" th:text="${result.get('USER_NAME')}"></span>
                    <img th:src="@{/mainAssist/images/no_user_img.png}" alt="유저 프로필 사진"/>
                </a>
            </div>
        </header>

        <span class="image featured">
            <img th:src="@{/mainAssist/images/pic01.jpg}" alt=""/>
        </span>
        <!--내용 줄바꿈이 있는경우-->
        <p th:if="${result.get('contentArr') == null}" th:text="${result.get('CONTENT')}"></p>
        <!--내용 줄바꿈이 없는경우-->
        <p th:each="data : ${result.get('contentArr')}" th:text="${data}"></p>

        <footer>
            <ul class="stats">
                <li><a href="#">Info</a></li>
            </ul>
        </footer>

        <div class="col-10" style="margin-bottom: 10px;">
            <textarea id="replyReset" name="" rows="2" placeholder="reply"></textarea>
        </div>
        <div class="col-2">
            <ul class="actions">
                <li><input type="button" value="registration" onclick="replySet()"></li>
                <li><input type="button" value="Reset" onclick="replyReset()"></li>
            </ul>
        </div>

        <script>
            $(document).ready(function () {
                $.ajax({
                    url: '/reply/list',
                    type: 'GET',
                    success: function (res) {
                        console.log(res)
                        let html = `
                            <li><a class="icon solid fa-heart">not developed</a></li>
                            <li><a class="icon solid fa-comment">${res.length}</a></li>`;
                        $('.stats').append(html);
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
            })

            function register() {
                const data = $('#boardRegister').serialize();
                $.ajax({
                    url: '/board/addBoard',
                    type: 'POST',
                    data: data,
                    success: successResult,
                    error: errorResult
                });

                function successResult(res) {
                    console.log(res)
                    alert(res.msg)
                    if(res.result) location.href = '/board/list';
                }

                function errorResult(e) {
                    console.log(e)
                }
            }

            //업데이트
            function updateBoard() {
                const data = $('#boardRegister').serialize();
                $.ajax({
                    url: '/board/updateBoard',
                    type: 'POST',
                    data: data,
                    success: successResult,
                    error: errorResult
                });

                function successResult(data) {
                    if(data.result == 11000) {
                        alert(data.msg)
                        location.href = '/board/list';
                    } else {
                        alert(data.msg)
                        if(data.msg.includes('세션')) {
                            location.href = '/user/login?url=' + location.pathname
                        }
                    }
                }

                function errorResult(e) {
                    console.log(e)
                }
            }

            function reset() {
                console.log("reset")
            }

            function replyReset() {
                document.getElementById('replyReset').value = ''
            }

            function replySet(){
                alert('댓글 적용 완료!');
                location.reload();
            }
        </script>
    </th:block>
</html>