<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/singleLayout}">
    <th:block layout:fragment="content">
        <section>
            <h3>Login</h3>
            <form method="get" action="/user/loginForm">
                <input type="hidden" name="url" th:value="${#httpServletRequest.getParameter('url')}">
                <div class="row gtr-uniform">
                    <div class="col-12 col-12-xsmall">
                        <input type="text" name="userId" placeholder="ID">
                        <p th:text="${nullId}" style="padding-top: 0.5rem;color:#ff9797;"></p>
                    </div>
                    <div class="col-12 col-12-xsmall">
                        <input type="password" name="userPassword" placeholder="Password">
                        <p th:text="${nullPwd}" style="padding-top: 0.5rem;color:#ff9797;"></p>
                    </div>
                    <span th:text="${noUser}" style="padding-top: 0.5rem;color:#ff9797;"></span>
                    <span th:text="${noUserService}" style="padding-top: 0.5rem;color:#ff9797;"></span>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Login"></li>
                            <li><input type="button" value="Sign Up" onclick="location.href='/user/signUp'"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </th:block>
</html>