<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usefulNVersatileWeb.usefulWeb.main.mapper.MainMapper">

    <select id="mainBoradList" resultType="map">
        select
            b.BOARD_SEQ as boardSeq
             ,b.TITLE as title
             ,b.CONTENT as content
             ,IFNULL((CASE
                      WHEN INSTR(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM') > 0
                          THEN REPLACE(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM', '오후')
                      ELSE REPLACE(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'AM', '오전')
                    END),
                    (CASE
                      WHEN INSTR(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM') > 0
                          THEN REPLACE(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM', '오후')
                      ELSE REPLACE(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'AM', '오전')
                     END)) as uploadDate
             ,u.USER_ID as userId
        from BOARD b
        left join user u
        on b.USER_SEQ = u.USER_SEQ
        order by FIRST_UPDATE desc limit 5
    </select>

</mapper>