<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="scriptFragment">
        <!--<script th:src="@{/mainAssist/js/jquery.min.js}"></script>
        <script th:src="@{/mainAssist/js/browser.min.js}"></script>
        <script th:src="@{/mainAssist/js/breakpoints.min.js}"></script>
        <script th:src="@{/mainAssist/js/util.js}"></script>
        <script th:src="@{/mainAssist/js/main.js}"></script>-->
        <script>
            console.log(123);
        </script>
    </th:block>
</html>