<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="scriptFragment">
        <script th:src="@{/mainAssist/js/jquery.min.js}"></script>
        <script th:src="@{/mainAssist/js/browser.min.js}"></script>
        <script th:src="@{/mainAssist/js/breakpoints.min.js}"></script>
        <script th:src="@{/mainAssist/js/util.js}"></script>
        <script th:src="@{/mainAssist/js/main.js}"></script>
        <script>
            //순수 바닐라 ajax
            function vAjax(type, url, param) {
                //XMLHttpRequest 객체 생성
                var xhr = new XMLHttpRequest();
                //요청을 보낼 방식, 주소, 비동기여부 설정
                xhr.open(type, url, param);
                //요청 전송
                xhr.send();
                //통신후 작업
                xhr.onload = () => {
                    // //통신 성공
                    // if (xhr.status == 200) {
                    //     console.log(xhr.response);
                    // } else {
                    //     //통신 실패
                    //     console.log(xhr);
                    // }
                    return xhr;
                }
            }

            //jquery ajax
            function jAjax(type, url, param) {
                $.ajax({
                    url: url,
                    type: type,
                    data: param,
                    success: successResult,
                    error: errorResult
                });

                function successResult(result) {
                    return result;
                }

                function errorResult(e) {
                    return e;
                }
            }

            // 로그인버튼 위 공통 게시판 리스트
            $(document).ready(function () {
                $.ajax({
                    url: "/main/commonMainRecentBoard",
                    type: "POST",
                    success: successResult,
                    error: errorResult
                });
                function successResult(res) {
                    if(res.length > 0) {
                        for (let i = 0; i < res.length; i++) {
                            let appHtml = `
                                        <ul class="links">
                                            <li>
                                                <a href="${'/board/detail/' + res[i].boardSeq}">
                                                    <h3>${res[i].title}</h3>
                                                    <p>${res[i].uploadDate}</p>
                                                </a>
                                            </li>
                                        </ul>`
                            $('#commonRecentBoard').append(appHtml);
                        }
                    }
                }
                function errorResult(e) {
                    console.log(e)
                }
            })
        </script>
    </th:block>
</html>