<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usefulNVersatileWeb.usefulWeb.board.mapper.BoardMapper">

    <select id="boardList" resultType="map">
        select
            b.BOARD_SEQ as boardSeq
             ,b.TITLE as title
             ,IFNULL((CASE
                          WHEN INSTR(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM') > 0
                              THEN REPLACE(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM', '오후')
                          ELSE REPLACE(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'AM', '오전')
                        END),
                    (CASE
                          WHEN INSTR(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM') > 0
                              THEN REPLACE(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM', '오후')
                          ELSE REPLACE(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'AM', '오전')
                    END)) as uploadDate
             ,u.USER_ID as userId
        from BOARD b
        left join user u
        on b.USER_SEQ = u.USER_SEQ
        order by FIRST_UPDATE desc
    </select>

    <!--게시글 첫 등록-->
    <insert id="addBoard" parameterType="com.usefulNVersatileWeb.usefulWeb.board.vo.BoardVo" keyProperty="seq">
        INSERT INTO BOARD
        (`USER_SEQ`
        , `TITLE`
        , `CONTENT`
        , `FIRST_UPDATE`
        , `IP`)
        VALUES
        (#{userSeq}
        , #{title}
        , #{content}
        , now()
        , #{ip}
        )
    </insert>

    <!--게시글 수정-->
    <update id="updateBoard" parameterType="com.usefulNVersatileWeb.usefulWeb.board.vo.BoardVo">
        UPDATE BOARD
        SET
            USER_SEQ = #{userSeq}
            ,TITLE = #{title}
            ,CONTENT = #{content}
            ,LAST_UPDATE = now()
            ,IP = #{ip}
        WHERE BOARD_SEQ = #{seq}
    </update>

    <select id="boardDetail" parameterType="Integer" resultType="map">
        select
            B.BOARD_SEQ
             ,B.USER_SEQ
             ,U.USER_NAME
             ,B.TITLE
             ,B.CONTENT
             ,IFNULL((CASE
                      WHEN INSTR(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM') > 0
                      THEN REPLACE(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM', '오후')
                      ELSE REPLACE(DATE_FORMAT(B.LAST_UPDATE, '%Y-%m-%d %p %h:%i'), 'AM', '오전')
                END),
                (CASE
                  WHEN INSTR(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM') > 0
                  THEN REPLACE(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'PM', '오후')
                  ELSE REPLACE(DATE_FORMAT(B.FIRST_UPDATE, '%Y-%m-%d %p %h:%i'), 'AM', '오전')
                END)) as UPLOAD_DATE
             ,B.IP
        from
            BOARD B
            left join USER U
            on U.USER_SEQ = B.USER_SEQ
        where BOARD_SEQ = #{seq}
    </select>

</mapper>