<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usefulNVersatileWeb.usefulWeb.mapper.BoradMapper">

    <select id="boardList" resultType="map">
        select
            b.BOARD_SEQ
             ,b.TITLE
             ,b.FIRST_UPDATE
             ,b.LAST_UPDATE
             ,u.USER_ID
        from BOARD b
        left join user u
        on b.USER_SEQ = u.USER_SEQ
    </select>

    <!--게시글 첫 등록-->
    <insert id="addBoard" parameterType="com.usefulNVersatileWeb.usefulWeb.vo.BoardVo" keyProperty="seq">
        INSERT INTO BOARD
        (`USER_SEQ`
        , `TITLE`
        , `CONTENT`
        , `FIRST_UPDATE`
        , `IP`)
        VALUES
        (#{userSeq}
        , #{title}
        , #{content}
        , now()
        , #{ip}
        );
    </insert>

    <select id="boardDetail" parameterType="int" resultType="map">
        select * from board
        where BOARD_SEQ = {seq}
    </select>

</mapper>