<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/singleLayout}">
    <th:block layout:fragment="content">
        <section>
            <div class="row">
                <div class="col-6">
                    <h3>게시글 목록</h3>
                </div>
                <div class="col-6">
                    <ul class="actions small" style="float: right;">
                        <li><a href="/board/register" class="button small">등록</a></li>
                    </ul>
                </div>
            </div>

            <p ></p>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th width="10%">No.</th>
                        <th width="50%">제목</th>
                        <th width="20%">작성자</th>
                        <th width="40%">등록일자</th>
                    </tr>
                    </thead>
                    <tbody style="cursor:pointer;">
                    <tr th:if="${boardList.size == 0}">
                        <td colspan="3" style="text-align: center;">등록된 게시글이 없습니다.</td>
                    </tr>
                    <tr th:unless="${boardList.size == 0}" th:each="data : ${boardList}" onclick="boardDetail(this)">
                        <td th:text="${data.BOARD_SEQ}"></td>
                        <td th:text="${data.TITLE}"></td>
                        <td th:text="${data.USER_ID}"></td>
                        <td th:text="${#temporals.format(data.FIRST_UPDATE, 'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <ul class="actions">
                <li><a href="#" class="button small">Prev</a></li>
                <li><a href="#" class="button small">Next</a></li>
            </ul>
        </section>

        <script>
            function boardDetail(obj) {
                console.log(obj)
                obj.children[0].textContent
            }
        </script>
    </th:block>
</html>