<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainLayout}">
    <th:block layout:fragment="content">
        <!-- Main -->
        <div id="main">
            <!-- Post -->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Board Search">
                </form>
            </section>

            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="#">게시물 1</a></h2>
                        <p>부제목 1</p>
                    </div>

                    <div class="meta">
                        <time class="published" datetime="2015-11-01">2022.08.21</time>
                        <a href="#" class="author">
                            <span class="name">작성자</span>
                            <img src="images/avatar.jpg" alt=""/>
                        </a>
                    </div>
                </header>
                <a href="single.html" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
                <p>간단한 내용칸</p>
                <footer>
                    <ul class="actions">
                        <li><a href="single.html" class="button large">자세히 보기</a></li>
                    </ul>
                    <ul class="stats">
                        <li><a href="#">좋아요 / 댓글</a></li>
                        <li><a href="#" class="icon solid fa-heart">28</a></li>
                        <li><a href="#" class="icon solid fa-comment">128</a></li>
                    </ul>
                </footer>
            </article>

            <!-- Pagination -->
            <ul class="actions pagination">
                <li><a href="" class="disabled button large previous">Previous Page</a></li>
                <li><a href="" class="button large previous">1</a></li>
                <li><a href="" class="button large previous">2</a></li>
                <li><a href="" class="button large previous">3</a></li>
                <li><a href="#" class="button large next">Next Page</a></li>
            </ul>
        </div>
    </th:block>

    <script>

    </script>
</html>