<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainLayout}">
    <th:block layout:fragment="content">
        <!-- Main -->
        <div id="main">
            <!-- Post -->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Board Search">
                </form>
            </section>

            <article class="post" th:each="data : ${mainList}">
                <header>
                    <div class="title">
                        <h2><a href="#" th:text="${data.title}"></a></h2>
                        <p>부제</p>
                    </div>
                    <div class="meta">
                        <time class="published" th:text="${data.lUpdate == null ? data.fUpdate : data.lUpdate}"></time>
                        <a href="#" class="author">
                            <span class="name" th:text="${data.userId}"></span>
                            <!--<img th:src="@{/mainAssist/images/avatar.jpg}" alt="유저 프로필 사진"/>-->
                            <img th:src="@{/mainAssist/images/no_user_img.png}" alt="유저 프로필 사진"/>
                        </a>
                    </div>
                </header>
                <a href="single.html" class="image featured">
                    <img th:src="@{/mainAssist/images/pic01.jpg}" alt=""/>
                </a>

                <p th:text="${data.content}"></p>

                <footer>
                    <ul class="actions">
                        <li><a href="" class="button large">자세히 보기</a></li>
                    </ul>
                    <ul class="stats">
                        <li><a href="#">좋아요 / 댓글</a></li>
                        <li><a href="#" class="icon solid fa-heart">28</a></li>
                        <li><a href="#" class="icon solid fa-comment">128</a></li>
                    </ul>
                </footer>
            </article>

            <!-- Pagination -->
            <ul class="actions pagination">
                <li><a href="" class="disabled button large previous">Previous Page</a></li>
                <li><a href="" class="button large previous">1</a></li>
                <li><a href="" class="button large previous">2</a></li>
                <li><a href="" class="button large previous">3</a></li>
                <li><a href="#" class="button large next">Next Page</a></li>
            </ul>
        </div>
    </th:block>

    <script>

    </script>
</html>