<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/mainLayout">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <th:block layout:fragment="content">

<!--        <div id="main">-->

<!--            &lt;!&ndash; Post &ndash;&gt;-->
<!--            <article class="post">-->
<!--                <header>-->
<!--                    <div class="title">-->
<!--                        <h2><a href="single.html">Magna sed adipiscing</a></h2>-->
<!--                        <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>-->
<!--                    </div>-->
<!--                    <div class="meta">-->
<!--                        <time class="published" datetime="2015-11-01">November 1, 2015</time>-->
<!--                        <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>-->
<!--                    </div>-->
<!--                </header>-->
<!--                <a href="single.html" class="image featured"><img src="images/pic01.jpg" alt="" /></a>-->
<!--                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>-->
<!--                <footer>-->
<!--                    <ul class="actions">-->
<!--                        <li><a href="single.html" class="button large">Continue Reading</a></li>-->
<!--                    </ul>-->
<!--                    <ul class="stats">-->
<!--                        <li><a href="#">General</a></li>-->
<!--                        <li><a href="#" class="icon solid fa-heart">28</a></li>-->
<!--                        <li><a href="#" class="icon solid fa-comment">128</a></li>-->
<!--                    </ul>-->
<!--                </footer>-->
<!--            </article>-->
<!--        </div>-->

        <form>
            <input th:value="${search == null ? '' : search}" name="search">
            <button type="submit" id="sub">검색</button>
        </form>
        <p id="result" th:text="${result}" hidden></p>
        <div id="newsResult"></div>

        <textarea rows="10" cols="100" th:text="${userList[0].seq}"></textarea>
    </th:block>

    <script>
        var newsMap = JSON.parse(document.querySelector('#result').textContent)
        console.log(newsMap)
        $.each(newsMap.items, function(i, item){
            var a = `<div onclick="location.href = '${item.link}'"style="cursor: pointer;">${item.title}</div>`
            $('#newsResult').append(a)
        })
    </script>
</html>